.Layout {
  position: relative;
  display: grid;
  grid-template-columns: 33ch auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .Layout {
    grid-template-columns: 1fr;
    grid-template-rows: 50% auto;
  }
}

.Layout_closeSidebar {
  grid-template-columns: 0 auto;
}

.Layout__toggle-button-text {
  font-size: 2em;
}

.Layout_closeSidebar .Layout__toggle-button {
  left: 0;
}

.Layout__toggle-button {
  left: 33ch;
  box-shadow: 3px 2px 6px -3px black;
  position: absolute;
  z-index: 2;
  background: white;
  border: none;
  border-radius: 0 10px 9px 0;
  top: 1.5em;
  width: 20px;
  line-height: 20px;
  cursor: pointer;
}

.Layout__sidebar {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: auto;
  grid-row-end: auto;
}
@media screen and (max-width: 400px) {
  .Layout__sidebar {
    overflow: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.Layout__main {
  overflow: auto;
}

.Layout__loader {
  font-family: PT Sans, sans-serif;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
