.ShelterDetails {
  word-wrap: break-word;
}

.ShelterDetails_compact h3 {
  margin-bottom: 0;
}
.ShelterDetails_compact dd {
  margin: 0;
}
.ShelterDetails_compact dl {
  margin: 0;
}

.ShelterDetails_compact .ShelterDetails__list {
  grid-template-columns: 70px 1fr;
  grid-gap: 0 0.5em;
  margin-bottom: 0;
}

.ShelterDetails__list {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 0 0.5em;
}

.ShelterDetails__list-title {
}
.ShelterDetails__list-definition {
}

.ShelterDetails__paragraph {
  margin: 1em 0;
}
