.Shelters {
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  z-index: 1;
}

.Shelters__sidebar {
  z-index: 99;
  position: absolute;
  left: 2em;
  top: 2em;
}

.Shelters__sidebar_on {
}

.Shelters__map {
  width: 100%;
  height: 100%;
}

.Shelters__map-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@media screen and (max-width: 600px) {
  .Shelters__nav {
    font-size: 14px;
  }
}

.Shelters__nav h1 {
  font-weight: 700;
}
.Shelters__nav dl {
  margin-bottom: 0;
}
.Shelters__nav dd {
  margin-bottom: 0.3em;
}

.Shelters__nav {
  background: white;
  padding: 1em;
  position: fixed;
  top: 1rem;
  left: 0.5rem;

  font-family: PT Serif, sans-serif;
  font-size: 1rem;
  z-index: 2;
}

.Shelters__nav dl {
  font-family: 'PT Sans', serif;
}


.Shelters__popup { }
.Shelters__list {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 0.5em;
}
.Shelters__list-title {}
.Shelters__list-definition {}


