.ShelterDetails {
  word-wrap: break-word;
}

.ShelterDetails__list {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 0.5em;
}
.ShelterDetails__list-title {
}
.ShelterDetails__list-definition {
}

.ShelterDetails__paragraph {
  margin: 1em 0;
}
